@font-face {
  font-family:"OCR A Std Regular";
  src: url("./fonts/OCR A Std Regular.ttf") format("truetype");
}

@font-face {
  font-family:"IBMPlexMono-Thin";
  src: url("./fonts/IBMPlexMono-Thin.ttf") format("truetype");
}