@font-face {
  font-family:"OCR A Std Regular";
  src: url("./fonts/OCR A Std Regular.ttf") format("truetype");
}

@font-face {
  font-family:"IBMPlexMono-Thin";
  src: url("./fonts/IBMPlexMono-Thin.ttf") format("truetype");
}

* {
  /* use these varibles to change colors on the whole page */
  --color1: white;
  --color2: #b1e1ff;
  --color3: #0046e8;
  --color4: red;
  --color5: grey;

  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

h1  {
  font-family: "OCR A Std Regular" , Garamond;
  color: var(--color1);
  font-size: min(4vw, 1em);
  line-height: 0.8em;
}

h2 {
  font-family: "OCR A Std Regular" , Garamond;
  color: var(--color4);
  font-size: max(3.4vw, 0.5em);
  line-height: 7em;
  left-padding:  3%;
}

h3 {
  font-family: "IBMPlexMono-Thin";
  color: white;
  font-size: max(1.3vw, 0.9em);
  line-height: 1em;
  left-padding:  3%;
}

h4 {
  font-family: "IBMPlexMono-Thin";
  color: red;
  font-size: max(1.1vw, 0.7em);
  line-height: 1em;
  left-padding:  3%;
}

.box {
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  color: var(--color2);
  background-color: var(--color3);
  padding: 30px;
  Padding-left: 15px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  position: centre;
}

.archivebox {
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  color: var(--color5);
  background-color: var(--color5);
  padding: 30px;
  Padding-left: 15px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  position: centre;
}

/* header */

.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
   padding:  1.2%;
   z-index: 680;
   border-bottom: 1.2px solid red;
}

#header-content {
  margin-left: 82%;
}

/* title */

#title {
  position: absolute;
  padding-top: 58px;
  padding-bottom: 58px;
  margin: auto;
  width: 100%;
}

#chatbox {
  padding: 20px;
  top: 30%;
  z-index: 600;
}

#listenbox {
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  color: var(--color2);
  background-color: var(--color3);
  padding: 30px;
  Padding-left: 15px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  position: centre;
}

#KEY {
  Position: absolute;
  z-index: 650;
  background: transparent;
  margin-left: 70%;
}

#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 800;
    background-image: url(data:./img/play.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
  background-color: gainsboro;
  position: fixed;
}
.play {
  background-image: url(data:./img/play.png);
}
.pause {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

